<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>About Us</title>
    <link rel="stylesheet" href="/static/css/about_us.css" type="text/css" media="screen" />
  </head>
  <body>
    <header class="head">
      <div class="maintitle">
        <h1>Jiaxun Song</h1>
        <div class="links">
          <a class="link" href="index">Homepage</a>
          <a class="link" href="about">About Us</a>
          <a class="link" href="contact" target="_blank">Contact Us</a>
        </div>
      </div>
      <div class="index">
        <ul>
          <li><a href="#name">Name</a></li>
          <li><a href="#education">Education</a></li>
          <li><a href="#hobbits">Hobbits</a></li>
          <li><a href="#favoriteMovie">Favorite Movie</a></li>
        </ul>
      </div>
    </header>
    <div class="row">
      <div class="photo">
        <img src="/static/images/about_us/nick_wilde.jpg" alt="My photo">
        <div class="subtitle">My Photo</div>
      </div>
      <div class="text">
        <h2 id="name">Name</h2>
        <p>My name is Jiaxun Song.</p>
        <p>I am a new graduate student at School of Information, UC Berkeley. This website is an assignment for i253 Web Architecture.</p>
        <h2 id="education">Education</h2>
        <p>I graduated form <span class="stress"><a href="https://en.wikipedia.org/wiki/Tsinghua_University#Rankings">Tsinghua University</a></span>.</p>
      </div>
    </div>
    <div class="row">
      <div class="text">
        <h2 id="hobbits">Hobbies</h2>
        <ul>
          <li>Playing the piano and trumpt</li>
          <li>Watching movies</li>
          <li>Making food</li>
        </ul>
        <h2 id="favoriteMovie">Favorite Movie</h2>
        <p>My favorite movie is <span class="stress"><a href="https://en.wikipedia.org/wiki/Harry_Potter_(film_series)">Harry Potter</a></span>, which inspires me so much!</p>
      </div>
      <div class="photo">
        <img src="/static/images/about_us/harry_potter_poster.jpg" alt="Harry Potter Poster">
        <div class="subtitle">My Favorite Movie</div>
      </div>
    </div>
    <footer>
      <div class="center">
        <div class="links">
          <a class="link" href="index">Homepage</a>
          <a class="link" href="about">About Us</a>
          <a class="link" href="contact" target="_blank">Contact Us</a>
        </div>
        <p class="rights">Copyright © 2017-2020 J.S. Corporation, All Rights Reserved</p>
      </div>
    </footer>
  </body>
</html>